In [35]:
import pandas as pd

student_data = pd.read_csv('data/students_performance.csv')

student_data.info()

#student_data[student_data['math score'] == 0]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [36]:
free_lunch = student_data[student_data['lunch'] == 'free/reduced']['math score'].mean()

pay_lanch = student_data[student_data['lunch'] == 'standard']['math score'].mean()

def func(free_lunch, pay_lanch):
    if free_lunch > pay_lanch:
        return round(free_lunch)
    else:
        return round(pay_lanch)
    
func(free_lunch, pay_lanch)

70

In [38]:
student_data['parental level of education']

0       bachelor's degree
1            some college
2         master's degree
3      associate's degree
4            some college
              ...
995       master's degree
996           high school
997           high school
998          some college
999          some college
Name: parental level of education, Length: 1000, dtype: object

In [41]:
student_data['parental level of education'].value_counts(normalize=True)

some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: parental level of education, dtype: float64

In [45]:
student_data[student_data['race/ethnicity'] == 'group A']

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
3,male,group A,associate's degree,free/reduced,none,47,57,44
13,male,group A,some college,standard,completed,78,72,70
14,female,group A,master's degree,standard,none,50,53,58
25,male,group A,master's degree,free/reduced,none,73,74,72
46,female,group A,associate's degree,standard,completed,55,65,62
...,...,...,...,...,...,...,...,...
974,female,group A,some college,standard,none,54,63,67
983,female,group A,some college,standard,completed,78,87,91
985,male,group A,high school,standard,none,57,51,54
988,female,group A,some high school,free/reduced,none,44,45,45
994,male,group A,high school,standard,none,63,63,62

In [53]:
med_groupA = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
med_groupC = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()


print(round(abs(med_groupA - med_groupC)))

6