In [2]:
import pandas as pd

df = pd.read_csv('data/citibike-tripdata.csv')

df.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [3]:
round(df['usertype'].value_counts(normalize=True),2)

Subscriber    0.77
Customer      0.23
Name: usertype, dtype: float64

In [4]:
gender1 = df[df['gender']==1]
gender1['gender'].value_counts()

1    183582
Name: gender, dtype: int64

In [5]:
gender2 = df[df['gender']==0]
gender2['gender'].value_counts()

0    41912
Name: gender, dtype: int64

In [9]:
print(df['start station name'].nunique(),df['end station name'].nunique())

759 765

In [21]:
age = df['birth year'] - 2022
abs(age).nunique()

91

In [30]:
df['start station name'].value_counts(sort=True)

Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: start station name, Length: 759, dtype: int64

In [71]:
#df = df.drop(['start station id','end station id'], axis=1)

#df['age'] = 2018 - df['birth year']

#df = df.drop(['birth year'],axis=1)

df[df['age']>60].value_counts()

starttime                 stoptime                  start station name                 start station latitude  start station longitude  end station name         end station latitude  end station longitude  bikeid  usertype    gender  age
2018-09-01 00:04:20.9200  2018-09-01 00:11:21.6180  Grand Army Plaza & Central Park S  40.764397               -73.973715               Broadway & W 53 St       40.763441             -73.982681             24824   Subscriber  2       63     1
2018-09-04 16:56:05.6270  2018-09-04 16:59:16.4570  Lafayette St & E 8 St              40.730207               -73.991026               E 16 St & Irving Pl      40.735367             -73.987974             28544   Subscriber  2       62     1
2018-09-04 16:53:43.7070  2018-09-04 17:39:16.7360  E 106 St & 1 Ave                   40.789253               -73.939562               Riverside Dr & W 72 St   40.780578             -73.985624             30698   Subscriber  1       65     1
2018-09-04 16:53:58.0980  2018-09-04 17:01:59.6350  5 Ave & E 73 St                    40.772828               -73.966853               E 81 St & 2 Ave          40.774779             -73.954275             34182   Subscriber  1       62     1
2018-09-04 16:53:58.1430  2018-09-04 17:02:50.6710  E 27 St & 1 Ave                    40.739445               -73.976806               Broadway & W 29 St       40.746201             -73.988557             15369   Subscriber  1       69     1
                                                                                                                                                                                                                                                ..
2018-09-02 22:52:19.2860  2018-09-02 22:58:01.3490  St Marks Pl & 2 Ave                40.728419               -73.987140               Suffolk St & Stanton St  40.720664             -73.985180             27614   Subscriber  2       71     1
2018-09-02 22:54:12.2990  2018-09-02 23:05:34.7580  E 16 St & Irving Pl                40.735367               -73.987974               Avenue D & E 3 St        40.720828             -73.977932             19294   Subscriber  2       63     1
2018-09-02 22:54:26.3580  2018-09-02 22:58:06.4530  Amsterdam Ave & W 73 St            40.779668               -73.980930               Amsterdam Ave & W 82 St  40.785247             -73.976673             27243   Subscriber  1       64     1
2018-09-02 22:54:49.6840  2018-09-02 23:06:50.2010  Pier 40 - Hudson River Park        40.727714               -74.011296               W 22 St & 10 Ave         40.746920             -74.004519             28196   Subscriber  1       68     1
2018-09-05 19:08:26.2640  2018-09-05 19:44:53.7800  Columbus Ave & W 72 St             40.777057               -73.978985               Hudson St & Reade St     40.716250             -74.009106             26377   Subscriber  1       66     1
Length: 11837, dtype: int64

In [72]:
df.head()

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1,38
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,0,49
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1,43
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,2,34
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1,24

In [100]:
df['starttime'] = pd.to_datetime(df['starttime'])
df['stoptime'] = pd.to_datetime(df['stoptime'])

df['trip duration'] = df['stoptime'] - df['starttime']

seconds = df['trip duration'].dt.seconds

round(seconds.mean())

1000

In [96]:
time_trip = df['stoptime'] - df['starttime']
print(time_trip.mean().seconds)

1126

In [104]:
dayofweek = df['starttime'].dt.dayofweek
df['Weekend'] = dayofweek.apply(lambda x: 1 if x >= 5 else 0)
df['Weekend'].sum()

115135

In [117]:
#get_time_of_day = df['starttime'].dt.hour

def get_time_of_day(st_hour):
    if st_hour >= 0 and st_hour <= 6:
        return 'night'
    elif st_hour > 6 and st_hour <= 12:
        return 'morning'
    elif st_hour > 12 and st_hour <= 18:
        return 'day'
    elif st_hour > 18 and st_hour <= 23:
        return 'evening'
    else:
        return 'no normal'
df['time of day'] = df['starttime'].dt.hour.apply(get_time_of_day)


print(round(df[df['time of day'] == 'day'].shape[0] / df[df['time of day'] == 'night'].shape[0]))

9